@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
	--blue-100: hsl(225, 100%, 94%);
	--blue-700: hsl(245, 75%, 52%);

	/* neutral */
	--blue-50: hsl(225, 100%, 98%);
	--gray-600: hsl(224, 23%, 55%);
	---blue-950: hsl(223, 47%, 23%);

	--clr-neutral-100: hsl(0 0% 100%);
	--clr-neutral-200: hsl(225, 100%, 98%);
	--clr-neutral-400: hsla(223, 23%, 55%, 1);
	--clr-neutral-800: hsl(223, 47%, 23%);

	--clr-primary-200: hsl(225, 100%, 94%);
	--clr-primary-300: hsla(245, 83%, 68%, 1);
	--clr-primary-400: hsl(245, 75%, 52%);

	--fs-700: 1.75rem;
	--fs-400: 1rem;
	--fs-300: 0.875rem;

	--fw-400: 500;
	--fw-700: 700;
	--fw-900: 900;
}

/* Andy Bell Reset */
@layer reset {
	/* Box sizing rules */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	/* Prevent font size inflation */
	html {
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}

	/* Remove default margin in favour of better control in authored CSS */
	body,
	h1,
	h2,
	h3,
	h4,
	p,
	figure,
	blockquote,
	dl,
	dd {
		margin-block-end: 0;
	}

	/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
	ul[role="list"],
	ol[role="list"] {
		list-style: none;
	}

	/* Set core body defaults */
	body {
		min-height: 100vh;
		line-height: 1.5;
	}

	/* Set shorter line heights on headings and interactive elements */
	h1,
	h2,
	h3,
	h4,
	button,
	input,
	label {
		line-height: 1.1;
	}

	/* Balance text wrapping on headings */
	h1,
	h2,
	h3,
	h4 {
		text-wrap: balance;
	}

	/* A elements that don't have a class get default styles */
	a:not([class]) {
		text-decoration-skip-ink: auto;
		color: currentColor;
	}

	/* Make images easier to work with */
	img,
	picture {
		max-width: 100%;
		display: block;
	}

	/* Inherit fonts for inputs and buttons */
	input,
	button,
	textarea,
	select {
		font-family: inherit;
		font-size: inherit;
	}

	/* Make sure textareas without a rows attribute are not tiny */
	textarea:not([rows]) {
		min-height: 10em;
	}

	/* Anything that has been anchored to should have extra scroll margin */
	:target {
		scroll-margin-block: 5ex;
	}
}
body {
	display: grid;
	place-items: center;
	grid-template-rows: 1fr auto;
	font-family: "Red Hat", sans-serif;
	font-size: var(--fs-400);
	font-weight: var(--fw-400);
	color: var(--clr-neutral-400);
	background: var(--clr-primary-200);
	line-height: 1.6;
}

h1,
h2,
h3 {
	line-height: 1.1;
}
h3 {
	font-size: var(--fs-700);
	color: var(--clr-neutral-800);
}

/* COMPOSITION */
/* UTILITY */
.p-24 {
	padding: 1.5rem;
}
.p-48 {
	padding: 3rem;
}

.text-dark {
	color: var(--clr-neutral-800);
}

.text-subdued {
	color: var(--clr-neutral-400);
}

.bg-white {
	background-color: var(--clr-neutral-100);
}

.bg-lighter {
	background-color: var(--clr-neutral-200);
}

.text-left {
	text-align: start;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: end;
}
/* BLOCK */
.card {
	max-width: 30rem;
}
/* EXECPTION */
